<appSettings>
  <add key="owin:AppStartup" value="LocalTest" />
  
  <!-- Idenity Config -->
  <add key="IdentityCertCommonName" value="CN=localhost, OU=Dev, O=N-SV, L=Charlotte, S=NC, C=US"/>
  <add key="IdentitySiteName" value="NSV Identity Site"/>
  <add key="IdentityIssuerUri" value="https://localhost/IdSvr" />
  <add key="EnableIdentityLogging" value="true"/>
</appSettings>
